    .speech {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18pt;
        color: black;
    }

    .direction {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14pt;
        color: black;
        background-color: lightgoldenrodyellow;

    }

    .direction :hover {
        background-color: yellow;
        color: gray;
    }

    .name {
        color: green;
    }
    .name:hover{
        border: 4px;
        border-style: double;
        text-shadow: 2px 2px 15px red;
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        text-align: center;
    }
    td, th {
        border: 1px solid gray;
        text-align: left;
        padding: 8px;
      }
    tr:nth-child(odd) {
        background-color: blue;
      }